{% extends 'posts/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
	
	<section class="container main-content" >
		<div class="login">
			<div class="row">
				<div class="col-md-12">
					<div class="page-content">
						<h2>Login</h2>
						<div class="form-style form-style-3">
							<form method="POST">
								{% csrf_token %}
								{{ u_form|crispy }}
								{{ p_form|crispy }}
								<input type="submit" value="Register">
							</form>
						</div>
                        <div class="border-top pt-3">
                            <small class="text-muted">Already Have An Account? <a class="ml-2" href="{% url 'login'%}">Sign In</a></small>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer-bottom">
		<section class="container">
			<div class="copyrights f_left">Copyright <a href="#">DevDash</a></div>
			
		</section>
	</footer>
{% endblock %}