{% extends "posts/base.html" %}
{% block content %}

	<section class="container main-content page-full-width">
		<div class="row">
			<div class="contact-us">

				<div class="col-md-7">
					<iframe src="https://ourworldindata.org/explorers/coronavirus-data-explorer?tab=map&zoomToSelection=true&time=latest&pickerSort=asc&pickerMetric=location&hideControls=true&Metric=Confirmed+cases&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=~NPL" style="width: 180%; height: 900px; border: 0px none;"></iframe>
				</div>
                <div class="col-md-7">
                    <iframe src="https://ourworldindata.org/grapher/biweekly-covid-cases-per-million-people?country=~NPL" style="width: 180%; height: 900px; border: 0px none;"></iframe>
				</div>
			</div>
		</div>
	</section>


	<


{% endblock %}